/nbproject/private/
/.settings
/cometchat
/logs
/.idea
.idea
smf/Sources/Admin.php~
smf/Sources/Load.php~
smf/Sources/ManagePermissions.php~
smf/Themes/core/index.template.php~
smf/Themes/default/index.template.php~
smf/Themes/default/languages/Modifications.english.php~
smf/index.php~
